<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Trend Explorer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/game_trends_explorer.styles.css" asp-append-version="true" /> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light logo-text" asp-area="" asp-controller="Home" asp-action="Index"><img src='@Url.Content("~/images/logo-text.png")' alt="GAME TREND EXPLORER"></a>
                <div class="logo-line">
                    <img src='@Url.Content("~/images/logo-line.png")'>
                </div>
                <div class="logo-icon">
                    <img src='@Url.Content("~/images/logo-icon.png")' alt="Site logo">
                </div>
            </div>
        </nav>
    </header>

    @if (ViewContext.RouteData.Values["Controller"]?.ToString() != "Home")
    {
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="hide()">◄</a>
            <a class="navoption" asp-area="" asp-controller="Table" asp-action="Index">
                <img class="icon" src='@Url.Content("~/images/table.png")' alt="Table logo">   Table View
            </a>
            <a class="navoption" asp-area="" asp-controller="Graphic" asp-action="Index">
                <img class="icon" src='@Url.Content("~/images/graph.png")' alt="Graphic logo">   Graphic View
            </a>
        </div>
        <div id="content">
            <button class="openbtn" onclick="show()">► Navigation</button>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Game Trend Explorer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | 
            <a asp-area="" asp-controller="Home" asp-action="Credits">Credits</a> | 
            <a href="https://github.com/RyanFunk2000/game-trends-explorer">GitHub</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function show() {
            document.getElementById("mySidebar").style.width = "350px";
            document.getElementById("content").style.marginLeft = "350px";
        }
        function hide() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("content").style.marginLeft = "0";
        }
    </script>
</body>
</html>
