@model game_trends_explorer.Models.TableViewModel

@{
    ViewData["Title"] = "Table View";
}

<h1>Table View</h1>

<p>
    Filter Options
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color tableNav">
        <div>
            <label>Name:</label>
            <input type="text" asp-for="GameName" value="@ViewData["CurrentName"]"/>
        </div>
        <div>
            <label>Platform:</label>
            <select asp-for="GamePlatform" asp-items="Model.Platforms">
                <option selected="selected">@ViewData["CurrentPlatform"]</option>
            </select>
        </div>
        <div>
            <label>Publisher:</label>
            <select asp-for="GamePublisher" asp-items="Model.Publishers" style="width:205px">
                <option selected="selected">@ViewData["CurrentPublisher"]</option>
            </select>
        </div>
        <div>
            <label>Developer:</label>
            <input type="text" asp-for="DevName" value="@ViewData["CurrentDev"]"/>
        </div>
    </div>
    <div class="tableNav">
        <input type="submit" value="Filter" class="btn-default" />
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>

<div style="overflow-x:auto; transform:rotateX(180deg);">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-currentName="@ViewData["CurrentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"
                    asp-route-currentName="@ViewData["CurrentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Release Date</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PlatformSortParm"]"
                    asp-route-currentName="@ViewData["CurrentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Platform</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PublisherSortParm"]"
                    asp-route-currentName="@ViewData["CurrentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Publisher</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DevSortParm"]"
                    asp-route-currentName="@ViewData["CurrentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Developer</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ShippedSortParm"]"
                    asp-route-currentName="@ViewData["currentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Shipped</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TotalSortParm"]"
                    asp-route-currentName="@ViewData["currentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Total</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AmericaSortParm"]"
                    asp-route-currentName="@ViewData["currentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    America</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EuropeSortParm"]"
                    asp-route-currentName="@ViewData["currentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Europe</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["JapanSortParm"]"
                    asp-route-currentName="@ViewData["currentName"]"
                    asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
                    asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
                    asp-route-currentDev="@ViewData["CurrentDev"]">
                    Japan</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Games!) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.platform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shipped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.america)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.europe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.japan)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.Games.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Games.HasNextPage ? "disabled" : "";
}
<div class="tableNav">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.Games.PageIndex - 1)"
       asp-route-currentName="@ViewData["CurrentName"]"
       asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
       asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
       asp-route-currentDev="@ViewData["CurrentDev"]"
    class="btn @prevDisabled">
Previous
    </a>
    <label>@ViewData["PageNumber"] / @ViewData["TotalPages"]</label>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.Games.PageIndex + 1)"
       asp-route-currentName="@ViewData["CurrentName"]"
       asp-route-currentPlatform="@ViewData["CurrentPlatform"]"
       asp-route-currentPublisher="@ViewData["CurrentPublisher"]"
       asp-route-currentDev="@ViewData["CurrentDev"]"   
    class="btn @nextDisabled">
Next
    </a>
    <form asp-action="Index" method="get">
        <label>Jump Page:</label>
        <input type="number" name="pageNumber" value="@ViewData["PageNumber"]" min="1" max="@ViewData["TotalPages"]" style="width:80px"/>
        <input type="hidden" name="currentName" value="@ViewData["CurrentName"]"/>
        <input type="hidden" name="currentPlatform" value="@ViewData["CurrentPlatform"]"/>
        <input type="hidden" name="currentPublisher" value="@ViewData["CurrentPublisher"]"/>
        <input type="hidden" name="currentDev" value="@ViewData["CurrentDev"]"/>
        <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]"/>
        <input type="submit" value="Jump" class="btn-default"/>
    </form>
</div>

<div></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#GamePlatform').select2();
            $('#GamePublisher').select2();
        });
    </script>
}